{% include page-structure/author.liquid linkauthor=true %}

<div class="wf-license-translation page-content">
  <div class="wf-cc-license">{{"creative_commons" | localize_string}}</div>
  {% include page-structure/translations.liquid %}
</div>
