{% comment %}
  The greater > 1 is to account for English language.
{% endcomment %}


<button id="language-selection-menu" aria-label="Language selector"
        class="mdl-button mdl-js-button">
  {{  page.langcode | lang_name }}
</button>

{% if page.translations.size > 0 %}
<ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
  for="language-selection-menu">
  {% for translatedPage in page.translations %}
    <li class="mdl-menu__item">
      <a class="wf-translation-link__link" href="{{ translatedPage.canonicalUrl }}">{{  translatedPage.langcode | lang_name }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
